<h1>Hello Tajamal is Here</h1>
{% for product in collections.frontpage.products limit: 12 %}
  {{ product.title }}
{% endfor %}
{% schema %}
{
  "name": "compare products",
  "settings": []
}
{% endschema %}