<h1>Hello Tajamal is Here</h1>
{% for product in collections.frontpage.products limit: 12 %}
  <h2>{{ product.title }}</h2>
  <p>{{ product.description }}</p>
{% endfor %}
{% schema %}
{
  "name": "compare products",
  "settings": []
}
{% endschema %}